body {
  background: black;
  color: white;
  font-family: sans-serif;
  margin:0;
  padding:0;
  background:url("./images/main.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

span {
  background-color:rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  padding: 0.5em;
}

span:hover {
  background-color:rgba(0, 0, 0, 0.4);
}

h2 {
  font-style: italic;
  text-transform: uppercase;
  margin-top: 2em;
}

div {
  margin-bottom: 1em;
}

img.main {
  display: block;
  margin: 0 auto;
}
a {
  color: #b8ccd1;
}

a:hover {
  color: #bababb;
}

a:active {
  color: #5c5d58;
}

h1 {
  font-weight: bold;
font-style: italic;
}

div.main-container {
  padding: 1em;
}
